<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>LGBT in China</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-eduwell-style.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">

    <!-- ***** For Rader Chart Start ***** -->
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-radar.min.js"></script>
    <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css" type="text/css" rel="stylesheet">
    <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css" type="text/css" rel="stylesheet">
    <style type="text/css">
      html,
      body,
      #radar_container {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <!-- ***** For Rader Chart End ***** -->

  </head>

<body>


  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="index.html" class="logo">
                          <img src="assets/images/logo.png" alt="EduWell Template">
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                          <li class="scroll-to-section"><a href="#radar_chart">Radar</a></li>
                          <li class="scroll-to-section"><a href="#circle_chart">Circle</a></li>
                          <li class="scroll-to-section"><a href="#cross_dim_chart">2Dim</a></li> 
                          <li class="has-sub">
                              <a href="javascript:void(0)">Pages</a>
                              <ul class="sub-menu">
                                  <li><a href="about-us.html">About Us</a></li>
                                  <li><a href="our-services.html">Dataset</a></li>
                              </ul>
                          </li>
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <section class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h4>Some <em>Introduction</em> to the project</h4>
          </div>
        </div>
        <div class="col-lg-6" style="height: 350px;">
          <!-- <div class="header-text"> -->
            <h2>Some <em>Introduction</em> to the bar chart</h4>
            <p>Some <em>Introduction</em> to the bar chart</p>
            <p>Some <em>Introduction</em> to the bar chart</p>
            <p>Some <em>Introduction</em> to the bar chart</p>
            <!-- <h2>Some introduction to the project & <em>right</em> is a bar chart</h2> -->
          <!-- </div> -->
        </div>
        <div class="col-lg-6">
          <div id="first_container" style="height:100%">
            <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-base.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
            <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-pyramid-funnel.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
            <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-exports.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
            <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-ui.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
            <script>
              anychart.onDocumentReady(function () {
              
                var chart = anychart.pyramid([
                  {name: "Strongly negative", value: 2813,
                    normal:   {
                      fill: "#b3697a",
                    },
                  },
                  {name: "Negative", value: 7732,
                    normal:   {
                      fill: "#d3697a",
                    },
                  },
                  {name: "Neutral", value: 5051,
                    normal:   {
                      fill: "#007bb0",
                    },
                  },
                  {name: "Positive", value: 597,
                    normal:   {
                      fill: "#69b3a2",
                    },
                  },
                  {name: "Strongly positive", value: 24,
                    normal:   {
                      fill: "#30bf79",
                    },
                  }
                ]);

                // place labels to the right
                chart
                  .labels()
                  .fontSize(20)
                  .position('outside-right');

                // set 45px connectors length   
                chart.connectorLength(50);

                // draw chart
                chart.container("first_container");
                chart.draw();
              });
            </script>
          </div>
          <!-- <div class="right-image">
            <img src="assets/images/banner-right-image.png" alt="">
          </div> -->
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <section class="services" id="radar_chart">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h4>Some <em>Introduction</em> to the Radar graph</h4>
          </div>
        </div>
        <div class="col-lg-12" style="height:600px">
          <div id="radar_container"></div>
          <script>
          
            anychart.onDocumentReady(function () {
              // create data set on our data
              var chartData = {
                title: 'Characteristics of groups holding different attitudes towards homosexuality',
                header: ['#', 'Negative', 'Neutral', 'Positive'],
                rows: [
                ['Education', 0.2, 0.5739805754949188, 0.8],
                ['Age', 0.8, 0.595975131692656, 0.2],
                ['Income', 0.2, 0.49321060966404984, 0.8],
                ['Traditional Belief', 0.6922921101413757, 0.8, 0.2], // HowMuchYouAgreeThatHavingBoysBetterThanGirls
                ['Homosexual Friends', 0.2, 0.31676078453362283, 0.8] // how many homo ppl you know
                ]
              };
            
              // create radar chart
              var chart = anychart.radar();

              var interactivity = chart.interactivity();
              interactivity.selectionMode("singleSelect");
              
              chart.palette(["#d3697a", "#007bb0", "#69b3a2"]);
              // set default series type
              chart.defaultSeriesType('area');
            
              // set chart data
              chart.data(chartData);
            
              // force chart to stack values by Y scale.
              // chart.yScale().stackMode('value');
            
          
          
              chart.yGrid().palette(["gray 0.05", "gray 0.1"]);  
              // set yAxis settings
              chart.yAxis().stroke('#545f69');
              chart.yAxis().ticks().stroke('#545f69');
            
              chart
                .title()
                .fontColor('#545f69')
                .fontSize(17);
              
              chart
                .xAxis()
                .labels()
                .fontColor('#545f69')
                .fontSize(17);

              // set yAxis labels settings
              chart
                .yAxis()
                .labels()
                .fontColor('gray')
                .fontSize(17)
                .format('{%Value}{scale:(1000000)|(M)}');
            
              // set chart legend settings
              chart
                .legend()
                .align('center')
                .fontSize(17)
                .position('center-bottom')
                .enabled(true);
            
              // set container id for the chart
              chart.container('radar_container');
              // initiate chart drawing
              chart.draw();
            });
          </script>
        </div>
      </div>
    </div>
  </section>

  <section class="testimonials" id="circle_chart">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h6>Circile Graph</h6>
            <h4>Some introduction to the <em>Circle Graph</em></h4>
            <p>Circile Graph</p>
            
          </div>
          
        </div>
        
      </div>
    </div>

    <div style="position: relative; width:100%; left: 10%">
    <table>
      <tr>
          <td>
              <div id="circular_bar1"  style="position: relative;"></div> 
          </td>
          <td>
              <div id="gauge"  style="position: relative; "></div>
          </td>
    <td>
              <div id="circular_bar2"  style="position: relative; "></div> 
          </td>
      </tr>
  </table>
  </div>
  <script src="https://d3js.org/d3.v7.min.js"></script>
        <script src="../js/plotly-latest.min.js"></script>
        <script src="../js/circular.js"></script>
  </section>

  <section class="testimonials" id="cross_dim_chart">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h6>Some introdcution to the </h6>
            <h4><em>Cross dimension</em> chart </h4>
            <p>Cross dimension Chart: In this chart, we compare the average accepting rate with two differnet dimension.</p>
          </div>
        </div>
        
      </div>
    </div>

  <div style="position: relative; width:100%; left: 15%" class="responsive-svg-container">
    <table>
      <tr>
        <td>
          <div id = "button1">
          <button onclick="button_click('Age', 'Income')">Age - Income</button>
          </div>
          <br />
          <div id = "button2">
          <button onclick="button_click('Age', 'MaritalStatus')">Age - MaritalStatus</button>
          </div>
          <br />
          <div id = "button3">
              <button onclick="button_click('Education', 'Age')">Education - Age</button>
          </div>
          <br />
          <div id = "button4">
              <button onclick="button_click('Education', 'Income')">Education - Income</button>
          </div>
          <br />
          <div id = "button5">
              <button onclick="button_click('Education', 'MaritalStatus')">Education - MaritalStatus</button>
          </div>
          <br />
          <div id = "button6">
              <button onclick="button_click('Income', 'MaritalStatus')">Income - MaritalStatus</button>
          </div>
      </td>
          <td>
              <div id="heatmap"   style="position: relative; ">
                
          </td>
          <td>
            <div>
              <svg id="my_heatviz" height=300 width=450></svg>
            </div>
          </td>
      </tr>
  </table>
  
</div>
<br /><br /><br /><br /><br /><br />
  <script src="../js/heatmap.js"></script>
  </section>


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="assets/js/isotope.min.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/lightbox.js"></script>
    <script src="assets/js/tabs.js"></script>
    <script src="assets/js/video.js"></script>
    <script src="assets/js/slick-slider.js"></script>
    <script src="assets/js/custom.js"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>

</html>